doctype html
html(lang="en")
  head
    title mi primera pag web
    meta(charset="utf-8")
    <link rel="stylesheet" type="css/style.css" href="styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  body

    div(id="datosIniciales" class="datosIniciales")
      h1 sopa letras
      input(type="text" id="nombreJugador" name="nombreJugador" value="" placeholder="Nombre" class="form-control")
      select(class="form-control" id="dimension" name="nivel")
        option(value='1') nivel 3
        option(value='1') nivel 4
        option(value='1') nivel 5
        option(value='1') nivel 6
        option(value='1') nivel 7
        option(value='1') nivel 8
        option(value='1') nivel 9
        option(value='1') nivel 10
        option(value='1') nivel 11
        option(value='1') nivel 12
        option(value='1') nivel 13
        option(value='1') nivel 14

      a(type="button" href="/menu/sopa"  id='jugar' class="btn btn-primary btn-lg btn-block" ) enviar
